{% extends './base.html' %}
{% load static %}
{% block content %}
<h1>Acerca de nosotros...</h1>
<div id="about" class="col-9 col-sm-8 col-lg-6 col-xl-4 mx-auto">
	<p>Dos hermanos separados al nacer, es el inicio de este emprendimiento familiar que llamamos “Portal Edificios”.</p>
	<p>Hoy la vida los vuelve a reunir y han invirtiendo todas sus fortunas para poner a tu disposición los mejores edificios y construcciones.</p>
	<p>En esta página podrás conocer nuestros edificios disponibles para venta, ver sus detalles y ubicación. </p>
	<p>Contamos con inicio de sesión para mayor seguridad, por lo que antes de comenzar, deberás tener tu usuario y contraseña.</p>
	<p>Puedes ponerte en contacto con nosotros a través de nuestro moderno formulario.</p>
	<p>Somos portal edificios, una solución eficiente para tu necesidad de adquirir un nuevo edificio. </p>
</div>
{% endblock %}