{% extends './base.html' %}
{% load static %}
{% block content %}
<h1>Acerca de nosotros...</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, nemo et atque commodi sint in beatae consectetur labore fuga officia. Eius quidem sunt molestiae veritatis pariatur dolore iusto ab harum.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non repellat molestiae quia, eius maxime aliquam et deserunt modi minus iusto? Voluptatum reprehenderit ad tempore temporibus qui commodi facere aut doloribus.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate labore, reiciendis alias enim incidunt assumenda. Excepturi minus architecto earum ullam alias quas est vel enim. Nemo obcaecati quia repudiandae illum.</p>
{% endblock %}