{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Venta de edificios</title>
  <!-- BOOTSTRAP CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- STYLE.CSS -->
  <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
  <header>
    <div class="container-sm text-center">
      <img src="{% static './img/logo.png' %}" width="100" alt="">
    </div>
    {% include './navbar.html' %}
  </header>
  <main>
    <div class="container-sm">
      {% block content %}
    {% endblock %}
    </div>
  </main>
  <footer class="bg-dark">
    {% include './footer.html' %}
  </footer>
  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <!-- MAIN.JS -->
  <script src="{% static './js/main.js' %}"></script>
</body>
</html>