{% extends './base.html' %}
{% load static %}
{% block content %}
<h1>Contactanos</h1>
<form action="">
  <p>Si tienes alguna pregunta, duda, consulta, inquietud, felicitación o reclamo, por favor ingresala a continuación y nuestro equipo te respondera a la brevedad.</p>
  <label for="">Tipo</label>
  <select name="" id="">
    <option value="">pregunta</option>
    <option value="">duda</option>
    <option value="">consulta</option>
    <option value="">inquietud</option>
    <option value="">felicitación</option>
    <option value="">reclamo</option>
  </select>
  <label for="">¿Que necesitamos saber?</label>
  <textarea name="" id="" cols="30" rows="10"></textarea>
</form>
{% endblock %}