<div class="container-sm text-center py-3 text">
  <div class="d-flex row row-cols-2">
    <div class="col align-self-center">
      <div class="">Una producción de:</div>
      <div class="">Milenko Castillo 🤝 Nelson Castillo</div>
    </div>
    <div class="col align-self-center">
      <div class="row align-items-center g-sm-3  justify-content-end">
        <div class="col-auto">
          <a href="{% url 'index' %}">Inicio</a>
        </div>
        <div class="col-auto">
          <a href="{% url 'properties' %}">Edificios</a>
        </div>
        <div class="col-auto">
          <a href="{% url 'contact' %}">Contáctanos</a>
        </div>
        <div class="col-auto">
          <a href="{% url 'about' %}">Acerca de</a>
        </div>
      </div>
    </div>
  </div>
</div>
