{% extends './base.html' %}
{% load static %}
{% block content %}
<h1>Portal edificios</h1>
<p></p>
<!-- <img src="{% static './img/torre1.jpg' %}" alt=""> -->
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static './img/torre1.jpg' %}" class="d-block w-80" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static './img/edif2.jpeg' %}" class="d-block w-80" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static './img/indus1.jpeg' %}" class="d-block w-80" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static './img/entre2.jpeg' %}" class="d-block w-80" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}