{% extends './base.html' %}
{% load static %}
{% load debug %}
{% block content %}
<h1>¡Los mejores edificios en un solo lugar!</h1>
<p>Nombre: {{ property.name }}</p>
<p>Fecha: {{ property.pub_date }}</p>
<p>Precio: {{ property.price }}</p>
<p>Ubicacion: {{ property.location }}</p>
<p>Descripcion: {{ property.description }}</p>
<p>Pisos: {{ property.floors }}</p>
<p>Tipo: {{ property.type }}</p>
<p>Numero de hogares: {{ property.total_rooms }}</p>
<p>propiedades</p>
<ul>
  {% for key in property|as_dict %}
    <li>{{key}}</li>
    {% endfor %}
</ul>
{% if user.is_authenticated %}
<input type="submit" value="comprar">
{{ user.username }}
{% else %}
<div>Debes haber ingresado para poder comprar</div>
{% endif %}
{% endblock %}