:root {
  --text: #ebedf9;
  --secondary-text: #7d7d8d;
  --background: #0b0f28;
  --secondary-background: #0f1434;
  --tertiary-background: hsla(231, 54%, 95%, 0.1);
  --primary-button: #bb3547;
  --accent: #296b1e;
}

/* ESTILOS */

.secondary-bg {
  background-color: var(--secondary-background);
  border-radius: 4px;
}

h1 {
  text-align: center;
  text-wrap: balance;
  margin-bottom: 1rem;
}
h2 {
  text-align: center;
  text-wrap: balance;
  margin-bottom: 1rem;
}
h3 {
  margin-bottom: 1rem;
}

textarea {
  resize: none;
}

.btn-primary {
  border: none;
  color: var(--text);
  background-color: var(--primary-button);
}

.btn-primary:hover {
  background-color: var(--accent);
}

.card-body > h5 {
  white-space: nowrap;
  font-size: 1rem;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.card-body > h5::-webkit-scrollbar {
  display: none;
}

.card {
  width: 15rem;
  background-color: var(--tertiary-background);
  color: var(--text);
}

.card > img {
  width: 100%;
  aspect-ratio: 1.5/1;
  object-fit: cover;
}

.card-body {
  padding: 0.5rem;
}

.list-group-item {
  font-size: 0.85rem;
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.list-group-item > span {
  display: block;
  font-size: 0.75rem;
  color: var(--secondary-text);
}

.list-group-item::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

/* BODY */

body {
  color: var(--text);
  background-color: var(--background);
}

body > * + * {
  margin: 1rem 0;
}

/* NAVBAR */

nav {
  color: var(--text);
  font-weight: 600;
}

.nav-link {
  color: var(--text);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:hover {
  color: var(--primary-button);
}

.navbar-nav .nav-link.active {
  background-color: var(--primary-button);
  color: var(--text);
  border-radius: 5px;
}

.logo-bg {
  background-color: var(--primary-button);
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.nav-item {
  display: flex;
  align-self: end;
}

#logout-link {
  font-weight: 400;
  font-size: 0.9rem;
}

/* FOOTER */

footer {
  font-size: 0.75rem;
  color: var(--text);
}
footer a {
  text-decoration: none;
  color: var(--secondary-text);
}
footer a:hover {
  color: var(--primary-button);
}

/* PAGINAS */

/* login */

#login-screen {
  text-align: center;
}

@media (min-width: 1200px) {
  .container-sm {
    width: 1200px;
  }
}

/* edificios */

.property-list {
  margin-bottom: 1rem;
}

.price-on-card {
  min-width: fit-content;
}

/* edificios/id */

#property-img {
  /* width: 100%; */
  max-width: min(100%, 600px);
}

#published-date {
  font-size: 0.75rem;
  color: var(--secondary-text);
}

/* small */
@media screen and (max-width: 767px) {
}

/* medium */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* large */
@media screen and (min-width: 992px) and (max-width: 1199px) {
}
