{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="login-screen">
	<h3>Ingresa tus datos a continuación</h3>
	{% if form.errors %}
	<p>Tu usuario o contraseña no coinciden, por favor intenta nuevamente.</p>
	{% endif %}
	<form action="" method="post">
		{% csrf_token %}
		<div class="row gap-2 justify-content-center">
			<div class="d-grid col col-sm-8 col-md-6 col-lg-4">
				{% for field in form %}
				{{ field.label_tag }}{{field}}
				{% endfor %}
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-primary">Ingresar</button>
			</div>
		</div>
		
	</form>
</div>
{% endblock %}